.container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.logo-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.memory-game {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(3, 1fr);
  gap: 10px;
}

.card {
  cursor: pointer;
}

.card .front,
.card .back {
  cursor: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  backface-visibility: hidden;
}

.inner {
  position: relative;
  width: 100%;
  height: 100px;
  transform-style: preserve-3d;
  transition: 0.6s cubic-bezier(0.38, 0.02, 0.09, 1.66) all;
}

.card .front {
  background: #007cf6;
  transform: rotateY(180deg);
  display: flex;
  text-align: center;
  color: white;
}

.card .back {
  background: #51dce0;
  color: #d6aeb5;
  font-size: 100px;
  transition: 0.3s ease all;
}

.card.disabled {
  background: grey;
  border-radius: 8px;
  cursor: not-allowed;
}

.card.disabled .back:hover {
  background: grey;
}

.card .back:hover {
  background: #007bf6bc;
  color: #fff;
  transform: scale(1.02);
}

.card.flipped .inner {
  transform: rotateY(180deg);
}

.metadata {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.metadata .data {
  flex: 1;
  text-align: center;
}

button {
  text-align: center;
  border-radius: 58px;
  background: linear-gradient(92.21deg, #ffa800 1.09%, #ff6072 99.15%);
  padding: 8px 16px;
  font-weight: bold;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  border: none;
  cursor: pointer;
}

button:hover {
  text-decoration: none;
  background: linear-gradient(92.21deg, #ff6072 1.09%, #ffa800 99.15%);
}

.message-area {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-area button {
  margin: 0 5px;
}
